.four .card {
    width: 25%;
}

.card-detail-descr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.racestoday-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.racestoday-block h1 {
    font-size: 1.5em;
}
.racestoday-block button {
    max-height: 40px;
}
.text-primary {
    color: #222;
    font-weight: 600;
}
.racestoday-filter {
    display: flex;
    gap: 10px;
}
.racestoday-filter h1, .errorreport-title {
    font-size: 1.5em;
}

.errorreport-title {
    text-align: left;
}