html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.admin-panel-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.admin-panel-container__left {
    position: fixed;
    top: 0;
    left: 0;
    width: 290px; /* фиксированная ширина */
    height: 100vh;
    padding: 10px 0 0 10px;
    box-sizing: border-box;
    overflow-y: auto; /* если меню высокое */
    background-color: #fff;
}
.admin-panel-container__right {
    margin-left: auto; /* чтобы не заходила под левую панель */
    height: 100vh;
    overflow-y: auto;
    width: calc(100vw - 290px); /*занимает оставшуюся ширину экрана*/
    background-color: rgb(229, 242, 246);
}
.border-glow {
    box-shadow:var(--primary);
    border: var(--primary);
}

.admin-panel-container__left-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.admin-panel-container__left-logo-title {
    font-size: 1rem;
    margin-bottom: 0.2rem;
    background: var(--gradient-cyber);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0.2rem 0;
}
.admin-panel-container__left_nav {
    margin: 20px 5px;
}
.admin-panel-container__left_nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 8px 0;
}
.admin-panel-user-role {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.admin-panel-user-role_title {
    color: #000;
}
.admin-panel-user-role_descr {
    color: rgb(148, 166, 184);
    font-size: 0.75rem;
}

.admin-panel-container__left_nav-title {
    color: #000;
    font-weight: 500;
    text-align: left;
}
.admin-panel-container__left_nav-item svg {
    width: 1rem;
    height: 1rem;
    margin-left: 5px;
}

.company-logo {
    background: var(--gradient-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 15px;
}
.company-logo svg {
    color: black;
}

.admin-panel-container__left-logo-descr {
    margin: 0;
    padding: 0;
    color: var(--description);
    font-size: 0.75rem;
    text-align: justify;
}

.diagrams {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.diagrams-item {
    width: calc(50% - 60px);
    border-radius: 10px;
    margin-bottom: 20px;
}
.diagrams span,
.apexcharts-tooltip-title {
    color: #000;
}
.diagrams-item__table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}
.diagrams-item__table strong {
    text-align: left;
}
.diagrams-item__table-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.diagrams-item__table-rate {
    width: 20%;
}
.flex-col {
    display: flex;
    flex-direction: column;
}

.card {
    background: #f9f9f9;
    border-radius: 12px;
    padding: 15px;
    color: #222;
    width: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Лёгкая тень для глубины */
    border: 1px solid #ddd;
    margin: 10px;
}

.card-block {
    display: flex;
    width: 100%;
    gap: 1rem;
}
.kpi-container {
    display: flex;
    gap: 1rem;
}
.card div {
    text-align: left;
}
.income-card__km,
.income-card__income {
    font-size: large;
    font-weight: bold;
}