.errorreport {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.errorreport-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}




.btn-primary {
  background-color: #1976d2;
  color: white;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.btn-secondary {
  background-color: #555;
  color: white;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.btn-primary:hover {
  background-color: #125a9c;
}

.btn-secondary:hover {
  background-color: #333;
}

/* Модалка */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 15px;
  border-radius: 8px;
  position: relative;
  width: 400px;
  text-align: center;
}

.modal-photo {
  max-width: 100%;
  max-height: 300px;
  margin: 10px 0;
}

.modal-controls {
  display: flex;
  justify-content: space-between;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
