:root {
  --background: 225 15% 6%;
  --primary:#4a90e2;
  --border: 225 15% 15%;
  --border-light: 210 40% 95%;
  --gradient-primary: linear-gradient(135deg, hsl(192 100% 67%), hsl(270 100% 80%));
  --description: rgb(148, 166, 184);
  --gradient-cyber: linear-gradient(90deg, hsl(192 100% 67%) 0%, hsl(270 100% 80%) 50%, hsl(300 100% 70%) 100%);
}
body {
  display: flex;
  justify-content: center; 
  align-items: center;    
  background: #fff;
  color: #000;
}
h1 {
  font-weight: 600;
    font-size: 1.4rem;
    color: #222;
    margin-bottom: 15px;
    user-select: none;
}
#root {
  text-align: center;
}
table td {
  text-align: center;
}
.table-status {
  max-width: 250px;
  width: 10%;
}
.bg-card-light {
  background-color: hsl(210, 40%, 98%);
  border: 1px solid hsl(210, 40%, 90%);
  box-shadow: 0 1px 2px rgb(0 0 0 / 0.05);
  border-radius: var(--radius);
  color: hsl(210, 10%, 30%);
    border-radius: 0.75rem;
    padding: 1rem;
    margin: 10px;
    
}

.greetings-button {
  transition: 0.2s ease-in;
}
.greetings-button:hover {
  background: rgb(87, 221, 255);
  color: rgb(13, 14, 18);
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.ui-select:hover {
  border-color: #888;
}

.ui-select:focus {
  outline: none;
  border-color: #1976d2;
  box-shadow: 0 0 3px rgba(25, 118, 210, 0.4);
}